**/.settings/**
**/target/**
**/.idea/**
**/build/**
**/bin/**
**/logs/**
**/*.iml
**/.project
**/.classpath
/ws.sc
**/src/main/generated/**
**/.DS_Store
*/data.mdb
/native/*
*.ipr
*.iws
*.iml
*.idea
/bin/
/classes/
/build/
/out/